@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-roboto;
  @apply bg-zinc-700;
}

.flex-column-mid {
  display: flex;
}
@media (min-width: 500px) and (max-width: 768px) {
  .flex-column-mid {
    display: flex;
    flex-direction: column;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-zinc-800 rounded-full;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-zinc-500;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-600;
}
